body {
    background: #f2f4f6;
}
.search-container {
    max-width: 600px;
    margin: 50px auto;
}
input[type="text"] {
    display: block;
    width: calc(100% - 24px); /*20px [ left & Right ] padding + 4px border [ left & Right ] */ 
    font-size: 18px;
    font-weight: 600;
    color: #4b00ff;
    padding: 10px;
    border: 2px solid #4b00ff;
}